.movie{
    padding: 1rem 3rem;
}
.backdrop{
    width: 100%;
    min-width: 99%;
    width: fit-content;
    border-radius: var(--radiusValue) ;
    overflow: hidden;
    height: 30rem;
}
.backdrop img{
    width: 100%;
    border-radius: var(--radiusValue);
    aspect-ratio: 16/9;
    object-position: center;
}
h2{
    margin-top: 1rem;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    font-size: 1.5rem;
}
.movie-details{
    display: flex;
    flex-direction: row;
    gap: .7rem;
}
.overview{
    margin-top: 1rem;
    text-align: left;
    width: 70%;
}
iframe{
    width: 50%;
    height: 15rem;
    outline: none;
    border: none;
    border-radius: var(--radiusValue);
}