nav{
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--navColor);
    width: 10%;
    min-width: 13rem;
    height: 100%;
    border-top-right-radius: var(--radiusValue);
    border-bottom-right-radius: var(--radiusValue);
}
.logolink{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logolink img{
    width: 80%;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
}
.links a{
    text-decoration: none;
    color: var(--fontColor);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 20%;
    gap: 1rem;
    font-size: 1.3rem;
    transition: background-color linear 0.3s;
}
.links a:hover{
    background-color: var(--blueThemeLight);
    color: var(--blueTheme);
}
.links a.active{
    color: var(--blueTheme);
    background-color: var(--blueThemeLight);
    border-right: 3px solid var(--blueTheme);
}
.logout{
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    cursor: pointer;
}
