:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --navColor:#191919;
  --mainColor:#242424;
  --fontColor:rgb(156, 156, 156);
  --blueTheme:#3fd2cd;
  --blueThemeLight:#3dd2cd3e;
  --transitionInfo:all linear 0.3s;
  --radiusValue:20px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
#root{
  min-height: 100vh;
}
.app{
  height: 100vh;
  display: flex;
  flex-direction: row;

}
.output{
  width: 80%;
  padding-left: 13rem;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--blueTheme);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


